/* Display */

.block { display: block; }
.inline { display: inline; }
.inline-block { display: inline-block; }
.none { display: none; }
.flex { display: flex; }
.inline-flex { display: inline-flex; }
.grid { display: grid; }

.center { display: grid; place-items: center; }

/* Flex */

.flex-col { flex-direction: column; }
.flex-row { flex-direction: row; }

.items-start { align-items: flex-start; }
.items-center { align-items: center; }
.items-end { align-items: flex-end; }

.justify-start { justify-content: flex-start; }
.justify-center { justify-content: center; }
.justify-between { justify-content: space-between; }
.justify-end { justify-content: flex-end; }

/* Grid */

.grid-1 { grid-template-columns: repeat(1, 1fr); }
.grid-2 { grid-template-columns: repeat(2, 1fr); }
.grid-3 { grid-template-columns: repeat(3, 1fr); }
.grid-4 { grid-template-columns: repeat(4, 1fr); }
.grid-5 { grid-template-columns: repeat(5, 1fr); }
.grid-6 { grid-template-columns: repeat(6, 1fr); }
.grid-7 { grid-template-columns: repeat(7, 1fr); }

/* Width */

.w-full { width: 100%; }
.h-full { height: 100%; }
.w-screen { width: 100dvw; }
.h-screen { height: 100dvh; }
.w-fit { width: fit-content; }
.h-fit { height: fit-content; }

.w { width: var(--w); min-width: var(--mnw); max-width: var(--mxw); }
.h { height: var(--h); min-height: var(--mnh); max-height: var(--mxh); }

/* Overflow */

.overflow-hidden { overflow: hidden; }
.overflow-auto { overflow: auto; }

/* Position */

.relative { position: relative; }
.absolute { position: absolute; }
.fixed { position: fixed; }
.sticky { position: sticky; }

/* Cursor */

.cursor-pointer { cursor: pointer; }
.cursor-not-allowed { cursor: not-allowed; }

/* States */

.hover\:opacity-80:hover { opacity: .8; }
.hover\:scale:hover { transform: scale(1.02); }
.active\:scale:active { transform: scale(.98); }
.transition { transition: all var(--transition-fast); }
.transition-normal { transition: all var(--transition-normal); }
.transition-slow { transition: all var(--transition-slow); }